* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 800px;
  height: 100vh;
}

.instagram-phone {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 402px;
}

#phone-screen {
  width: 13.5rem;
  height: 24.2rem;
  background-color: grey;
  position: absolute;
  top: 79px;
  left: 140px;
}
#phone-screen img {
  width: 100%;
  height: 100%;
}

.instagram-phone img {
  height: 35rem;
}

#phone-back-screen {
  width: 13.5rem;
  height: 24.2rem;
  background-color: grey;
  position: absolute;
  top: 79px;
  left: 140px;
  opacity: 0;
}
#phone-back-screen img {
  width: 100%;
  height: 100%;
}

.instagram-account {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
}

.group:nth-child(1) {
  min-height: 19rem;
}

.instagram-logo {
  height: 3rem;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture img {
  height: 6rem;
}

.instagram-login {
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}

.instagram-logout {
  color: #0095f6;
  margin-top: 1rem;
}

.not-account {
  color: rgb(160, 160, 160);
}

.link-blue {
  color: #0095f6;
  cursor: pointer;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url('./images/app-store.png');
}

.app-download:nth-child(2) {
  background-image: url('./images/google-play.png');
}

@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .instagram-wrapper {
    width: 350px;
  }
  .instagram-phone {
    display: none;
  }
  .instagram-account {
    width: 100%;
  }
}

@media (max-width: 600px) {
  body {
    background-color: #ffffff;
  }
  .group {
    border: 1px solid transparent;
  }
  .instagram-wrapper {
    min-width: 320px;
  }
}
